<div class="single-view membership-view">
    <div class="container">
        <div class="view-header">Membership</div>
        <div class="products-container">
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://cdn.dribbble.com/users/4859/screenshots/4867190/dashboard2.png"></div>
                <div class="item-info">
                    <div class="item-title">Personalised Dashboard</div>
                    <div class="item-desc">One clean and professional layout for all your crypto market needs.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn active free">
                    Active <span>free</span>
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://cdn.discordapp.com/attachments/417113728018808833/529133591234609162/2321514_0.png"></div>
                <div class="item-info">
                    <div class="item-title">Coin Pickz</div>
                    <div class="item-desc">Wondering what coins to trade or invest in? Don't waste your time guessing or from clickbait articles or biased investors in the market.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn">
                    Subscribe
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://cdn.discordapp.com/attachments/417113728018808833/529133120801472512/What-Crypto-Crash-Market-Plunge-Have-in-Common-2.png"></div>
                <div class="item-info">
                    <div class="item-title">Related News</div>
                    <div class="item-desc">Why spend hours a day searching every news site available to stay updated? Get all the relative news to stay on top of the market in one spot in your dashboard!</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn active free">
                    Active <span>free</span>
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://cdn.discordapp.com/attachments/529021219585130539/529136865463500801/unknown.png"></div>
                <div class="item-info">
                    <div class="item-title">Signals</div>
                    <div class="item-desc">You have the capital but aren’t sure when to buy and sell. We all have been there. Save time and make profits with buys and sell alerts with specified profit targets and risk management set with your stop loss all in one notification.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn">
                    Subscribe
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://99bitcoins.com/wp-content/uploads/2016/08/exodus-portfolio-all@2x.jpg"></div>
                <div class="item-info">
                    <div class="item-title">Wallet Tracker</div>
                    <div class="item-desc">Where does the big money move to? Stay ahead of the whales with live updates with any wallet transfer above $250k.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn">
                    Subscribe
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://cdn.dribbble.com/users/1378322/screenshots/3918042/list-app-icon.png"></div>
                <div class="item-info">
                    <div class="item-title">Live listings and delistings</div>
                    <div class="item-desc">Did you buy an ICO and wonder when to sell or did you already buy a coin and get left with a bag because you missed the delisting? Don’t miss out anymore with live listings and delistings in your dashboard.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn active free">
                    Active <span>free</span>
                </div>
            </div>
            <div class="product-item card-1">
                <div class="preview-img aspect-hd" background-src="https://profitonlinefromhome.com/wp-content/uploads/2015/10/LifetimeStock-17519-L.jpg"></div>
                <div class="item-info">
                    <div class="item-title">Membership Profit Pool</div>
                    <div class="item-desc">We pay our team 60% of your membership, and then 40% goes to the MPP (Membership Profit Pool). We’ll disperse 50% of MPP profits to our platinum members on a quarterly basis, and provide updates along the way.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn active free">
                    Active <span>free</span>
                </div>
            </div>
            <div class="product-item card-1">
                <!-- <div class="preview-img aspect-hd" background-src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/7/2014/09/istock_000013296501small-network-of-people-800x560.jpg?v=2564"></div> -->
                <div class="preview-img aspect-hd" background-src="https://cdn-images-1.medium.com/max/1200/1*v9svOQ6tfFVY6z6v4B4rPg.jpeg"></div>
                <div class="item-info">
                    <div class="item-title">Access to our network of partners</div>
                    <div class="item-desc">Including Taxes, Legal, Trading, Mining, masternodes, Coding, and much more.<br>Member only discord: Communicate directly with any crypto area or part of the industry.</div>
                </div>
                <div class="spacer"></div>
                <div class="item-sub-btn active free">
                    Active <span>free</span>
                </div>
            </div>
        </div>
    </div>
</div>