<!DOCTYPE html>
<html ng-app="App">

<head>
    <title>The Collective</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/fonts/icomoon.css">
    <!-- Auth0 Lock -->
    <script src="https://cdn.auth0.com/js/lock/11.12.1/lock.min.js"></script>
</head>

<body ng-controller="Core as core" ng-cloak>
    <div id="menu-toggle" ng-click="core.toggleMenu('menu')" ng-class="{'invis': core.menuIsOpen}"><i class="material-icons" ng-if="core.currentPath.slice(0, 10) !== '/dashboard'">menu</i></div>
    <div id="perspective" class="perspective effect-rotateleft">
        <div id="perspective-container">
            <div id="view-wrapper">
                <!-- wrapper needed for scroll -->
                <ui-view></ui-view>
                <!-- ... -->
            </div><!-- wrapper -->
            <div class="perspective-view-overlay" ng-click="core.toggleMenu('view')"></div>
        </div><!-- /container -->
        <nav class="outer-nav left vertical">
            <div class="profile-nav">
                <div class="profile-picture" ng-if="core.isAuthenticated" background-src="{{userInfo.picture}}"></div>
            </div>
            <a ng-click="core.login()" ng-if="!core.isAuthenticated"><span class="icon-enter">login</span></a>
            <a ng-click="core.logout()" ng-click="core.toggleMenu('view')" ng-if="core.isAuthenticated"><span class="icon-exit">logout</span></a>
            <a ui-sref="home" ng-click="core.toggleMenu('view')"><span class="icon-home">Home</span></a>
            <a ui-sref="dashboard.home" ng-click="core.toggleMenu('view')" ng-if="core.isAuthenticated"><span><i class="material-icons">dashboard</i>Dashboard</span></a>
            <!-- <a ui-sref="account" ng-click="core.toggleMenu('view')" ng-if="core.isAuthenticated"><span class="icon-user-tie">Account</span></a> -->
            <a ui-sref="membership" ng-click="core.toggleMenu('view')" ng-if="core.isAuthenticated"><span class="icon-user-tie">Membership</span></a>
            <!-- <a ui-sref="coinpickz" ng-click="core.toggleMenu('view')" ng-if="core.isAuthenticated"><span class="icon-coin-dollar">Coin Pickz</span></a> -->
            <a ng-click="core.toggleMenu('view')"><span class="icon-file-text">Resources</span></a>
            <a ng-click="core.toggleMenu('view')"><span class="icon-envelop">Contact Us</span></a>
        </nav>
    </div><!-- /perspective -->
    <!-- <div ng-app="APP" ng-controller="core as vm" ng-cloak>
    </div> -->
    </script>
    <!-- Auth0 -->
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <!-- AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="node_modules/angular-storage/dist/angular-storage.min.js"></script>
    <script src="node_modules/angular-lock/dist/angular-lock.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Moment -->
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
    <!-- Main App -->
    <script src="app.module.js"></script>
    <script src="auth.service.js"></script>
    <script src="app.config.js"></script>
    <script src="app.directives.js"></script>
    <script src="core.ctr.js"></script>
    <script src="components/dashboard/dashboard.ctr.js"></script>
    <script src="components/dashboard/coinpickz/coinpickz.ctr.js"></script>
    <!-- <script src="components/account/account.ctr.js"></script> -->
    <script src="components/membership/membership.ctr.js"></script>
    <!-- <script src="/app/app.routes.js"></script> -->
    <!-- <script src="/app/home/home.controller.js"></script> -->
    <!-- <script src="/app/about/about.controller.js"></script> -->
    <!-- <script src="/app/contact/contact.controller.js"></script> -->
</body>

</html>