<div class="single-view home-view">
	<header class="hero" background-src="assets/images/kim-jong-un-wallpaper.jpg">
		<!-- <div class="title">Forget this website I'm gonna buy the pump & dump bot and print money, cya guys.</div> -->
		<div class="title">The Crypto Collective</div>
		<div class="tagline">
			A trusted source for all the tools necessary for success in the world of cryptocurrency.
			<br>
			<br>
			Whether you are a Student, Investor, or Full Time Trader: The Collective has a spot for everyone. 
		</div>
	</header>
</div>